In [2]:
from utils.Dataset import MIMICDataset

In [3]:
dataset = MIMICDataset(max_patients=10)

Loading MIMIC-IV data tables...
  - Loading patients...
  - Loading admissions...
  - Limited to 10 patients
  - Filtered to 10 patients, 16 admissions
  - Loading ICU stays...
  - Loading diagnosis dictionary...
  - Loading lab items dictionary...
  - Loading procedure dictionary...
  - Loading diagnoses...
  - Loading procedures...
  - Loading prescriptions...
  - Loading lab events (filtering by hadm_id)...
  - Loading microbiology events...

/Users/jakeblum/Chickens-Datathon-25/utils/Dataset.py:275: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  self.microbiology_df = pd.read_csv(self.hosp_dir / "microbiologyevents.csv.gz", compression='gzip')

  - ICU time-series data will be loaded on-demand...
Indexing data for fast lookups...
  - Indexing prescriptions...
  - Indexing lab events...
  - Indexing microbiology events...
  - Preparing ICU time-series data (indexed on-demand)...
Data loading complete!

In [4]:
type(dataset)

utils.Dataset.MIMICDataset

In [5]:
patients = dataset.get_all_patients()
len(patients)

10

In [6]:

for patient in patients:
    print(f"  - Patient {patient.subject_id}: {len(patient.admissions)} admissions")

  - Patient 10000032: 4 admissions
  - Patient 10000068: 1 admissions
  - Patient 10000084: 2 admissions
  - Patient 10000108: 1 admissions
  - Patient 10000117: 2 admissions
  - Patient 10000161: 1 admissions
  - Patient 10000248: 1 admissions
  - Patient 10000280: 1 admissions
  - Patient 10000560: 1 admissions
  - Patient 10000635: 2 admissions

In [7]:
patient = patients[0]

hadm_id = patient.admissions[0].hadm_id

timeline = dataset.get_admission_timeline(hadm_id)
timeline

,timestamp,event_type,description,details
0,2180-05-06 22:23:00,Admission,Admitted via TRANSFER FROM HOSPITAL,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
1,2180-05-06 22:23:00,Diagnosis,Posttraumatic stress disorder,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
2,2180-05-06 22:23:00,Diagnosis,"Bipolar disorder, unspecified","{'subject_id': 10000032, 'hadm_id': 22595853, ..."
3,2180-05-06 22:23:00,Diagnosis,"Chronic airway obstruction, not elsewhere clas...","{'subject_id': 10000032, 'hadm_id': 22595853, ..."
4,2180-05-06 22:23:00,Diagnosis,Personal history of tobacco use,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
5,2180-05-06 22:23:00,Diagnosis,Cirrhosis of liver without mention of alcohol,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
6,2180-05-06 22:23:00,Diagnosis,Other ascites,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
7,2180-05-06 22:23:00,Diagnosis,Portal hypertension,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
8,2180-05-06 22:23:00,Diagnosis,Unspecified viral hepatitis C without hepatic ...,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
9,2180-05-07 00:00:00,Procedure,Percutaneous abdominal drainage,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
10,2180-05-07 00:00:00,Medication,Heparin - 5000 UNIT,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
11,2180-05-07 00:00:00,Medication,Sodium Chloride 0.9% Flush - 3 mL,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
12,2180-05-07 00:00:00,Medication,Influenza Vaccine Quadrivalent - 0.5 mL,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
13,2180-05-07 00:10:00,Lab Result,Urobilinogen: 4.0 (abnormal),"{'labevent_id': 122, 'subject_id': 10000032, '..."
14,2180-05-07 01:00:00,Medication,Albuterol Inhaler - 2 PUFF,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
15,2180-05-07 01:00:00,Medication,Nicotine Patch - 14 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
16,2180-05-07 01:00:00,Medication,Emtricitabine-Tenofovir (Truvada) - 1 TAB,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
17,2180-05-07 01:00:00,Medication,Spironolactone - 50 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
18,2180-05-07 01:00:00,Medication,Raltegravir - 400 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
19,2180-05-07 01:00:00,Medication,Potassium Chloride - 40 mEq,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
20,2180-05-07 01:00:00,Medication,Furosemide - 20 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
21,2180-05-07 01:00:00,Medication,Acetaminophen - 500 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
22,2180-05-07 02:00:00,Medication,Ipratropium Bromide Neb - 1 NEB,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
23,2180-05-07 05:05:00,Lab Result,PT: 16.6 (abnormal),"{'labevent_id': 140, 'subject_id': 10000032, '..."
24,2180-05-07 05:05:00,Lab Result,Urea Nitrogen: 25.0 (abnormal),"{'labevent_id': 156, 'subject_id': 10000032, '..."
25,2180-05-07 05:05:00,Lab Result,Creatinine: 0.3 (abnormal),"{'labevent_id': 150, 'subject_id': 10000032, '..."
26,2180-05-07 05:05:00,Lab Result,"Calcium, Total: 7.8 (abnormal)","{'labevent_id': 148, 'subject_id': 10000032, '..."
27,2180-05-07 05:05:00,Lab Result,Asparate Aminotransferase (AST): 98.0 (abnormal),"{'labevent_id': 145, 'subject_id': 10000032, '..."
28,2180-05-07 05:05:00,Lab Result,Alanine Aminotransferase (ALT): 88.0 (abnormal),"{'labevent_id': 142, 'subject_id': 10000032, '..."
29,2180-05-07 05:05:00,Lab Result,INR(PT): 1.5 (abnormal),"{'labevent_id': 139, 'subject_id': 10000032, '..."
30,2180-05-07 05:05:00,Lab Result,Red Blood Cells: 3.8 (abnormal),"{'labevent_id': 137, 'subject_id': 10000032, '..."
31,2180-05-07 05:05:00,Lab Result,Platelet Count: 71.0 (abnormal),"{'labevent_id': 135, 'subject_id': 10000032, '..."
32,2180-05-07 05:05:00,Lab Result,MCV: 99.0 (abnormal),"{'labevent_id': 134, 'subject_id': 10000032, '..."
33,2180-05-07 05:05:00,Lab Result,MCH: 33.4 (abnormal),"{'labevent_id': 132, 'subject_id': 10000032, '..."
34,2180-05-07 10:11:00,Lab Result,"RBC, Ascites: 8800.0 (abnormal)","{'labevent_id': 163, 'subject_id': 10000032, '..."
35,2180-05-07 10:11:00,Lab Result,"Total Nucleated Cells, Ascites: 300.0 (abnormal)","{'labevent_id': 164, 'subject_id': 10000032, '..."
36,2180-05-07 10:11:00,Lab Result,Eosinophils: 1.0 (abnormal),"{'labevent_id': 157, 'subject_id': 10000032, '..."
37,2180-05-07 10:11:00,Lab Result,Lymphocytes: 49.0 (abnormal),"{'labevent_id': 158, 'subject_id': 10000032, '..."
38,2180-05-07 10:11:00,Lab Result,Macrophage: 35.0 (abnormal),"{'labevent_id': 159, 'subject_id': 10000032, '..."
39,2180-05-07 10:11:00,Lab Result,Mesothelial Cell: 2.0 (abnormal),"{'labevent_id': 160, 'subject_id': 10000032, '..."
40,2180-05-07 10:11:00,Lab Result,Polys: 13.0 (abnormal),"{'labevent_id': 162, 'subject_id': 10000032, '..."
41,2180-05-07 17:15:00,Discharge,Discharged to HOME,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
42,2180-05-08 08:00:00,Medication,Furosemide - 40 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."
43,2180-05-08 08:00:00,Medication,Spironolactone - 50 mg,"{'subject_id': 10000032, 'hadm_id': 22595853, ..."

In [8]:

lab_summary = dataset.get_lab_results_summary(hadm_id, include_normal=True)
lab_summary['all']

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,...,ref_range_lower,ref_range_upper,flag,priority,comments,label,category,flag_str,is_positive,is_negative
0,111,10000032,22595853.0,31810588,51464,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,NEG.,Bilirubin,Hematology,NAN,False,True
1,129,10000032,22595853.0,61728080,51092,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,POS,NaN,...,NaN,NaN,NaN,ROUTINE,OPIATE IMMUNOASSAY SCREEN DOES NOT DETECT SYNT...,"Opiate Screen, Urine",Chemistry,NAN,False,True
2,128,10000032,22595853.0,61728080,51090,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,...,NaN,NaN,NaN,ROUTINE,METHADONE ASSAY DETECTS ONLY METHADONE (NOT OT...,"Methadone, Urine",Chemistry,NAN,False,True
3,127,10000032,22595853.0,61728080,51087,NaN,2180-05-07 00:10:00,NaN,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,RANDOM.,Length of Urine Collection,Chemistry,NAN,False,True
4,125,10000032,22595853.0,61728080,51075,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,...,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...,"Benzodiazepine Screen, Urine",Chemistry,NAN,False,True
5,124,10000032,22595853.0,61728080,51074,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,...,NaN,NaN,NaN,ROUTINE,NaN,"Barbiturate Screen, Urine",Chemistry,NAN,False,True
6,123,10000032,22595853.0,61728080,51071,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,...,NaN,NaN,NaN,ROUTINE,NaN,"Amphetamine Screen, Urine",Chemistry,NAN,False,True
7,122,10000032,22595853.0,31810588,51514,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,4,4.000,...,0.200,1.000,abnormal,ROUTINE,NaN,Urobilinogen,Hematology,ABNORMAL,True,False
8,121,10000032,22595853.0,31810588,51508,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,Yellow.,Urine Color,Hematology,NAN,False,True
9,126,10000032,22595853.0,61728080,51079,NaN,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,NaN,...,NaN,NaN,NaN,ROUTINE,NaN,"Cocaine, Urine",Chemistry,NAN,False,True
10,119,10000032,22595853.0,31810588,51498,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,1.033,1.033,...,1.001,1.035,NaN,ROUTINE,NaN,Specific Gravity,Hematology,NAN,False,True
11,118,10000032,22595853.0,31810588,51492,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,30,30.000,...,NaN,NaN,NaN,ROUTINE,NaN,Protein,Hematology,NAN,False,True
12,117,10000032,22595853.0,31810588,51491,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,6.0,6.000,...,5.000,8.000,NaN,ROUTINE,NaN,pH,Hematology,NAN,False,True
13,116,10000032,22595853.0,31810588,51487,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,NEG.,Nitrite,Hematology,NAN,False,True
14,115,10000032,22595853.0,31810588,51486,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,NEG.,Leukocytes,Hematology,NAN,False,True
15,114,10000032,22595853.0,31810588,51484,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,NEG.,Ketone,Hematology,NAN,False,True
16,113,10000032,22595853.0,31810588,51478,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,NEG.,Glucose,Hematology,NAN,False,True
17,112,10000032,22595853.0,31810588,51466,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,NEG.,Blood,Hematology,NAN,False,True
18,120,10000032,22595853.0,31810588,51506,NaN,2180-05-07 00:10:00,2180-05-07 00:40:00,NaN,NaN,...,NaN,NaN,NaN,ROUTINE,Hazy.,Urine Appearance,Hematology,NAN,False,True
19,146,10000032,22595853.0,86271148,50882,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,28,28.000,...,22.000,32.000,NaN,ROUTINE,NaN,Bicarbonate,Chemistry,NAN,False,True
20,147,10000032,22595853.0,86271148,50885,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,1.3,1.300,...,0.000,1.500,NaN,ROUTINE,NaN,"Bilirubin, Total",Chemistry,NAN,False,True
21,148,10000032,22595853.0,86271148,50893,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,7.8,7.800,...,8.400,10.300,abnormal,ROUTINE,NaN,"Calcium, Total",Chemistry,ABNORMAL,True,False
22,149,10000032,22595853.0,86271148,50902,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,105,105.000,...,96.000,108.000,NaN,ROUTINE,NaN,Chloride,Chemistry,NAN,False,True
23,150,10000032,22595853.0,86271148,50912,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,0.3,0.300,...,0.400,1.100,abnormal,ROUTINE,NaN,Creatinine,Chemistry,ABNORMAL,True,False
24,155,10000032,22595853.0,86271148,50983,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,137,137.000,...,133.000,145.000,NaN,ROUTINE,NaN,Sodium,Chemistry,NAN,False,True
25,152,10000032,22595853.0,86271148,50960,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,1.7,1.700,...,1.600,2.600,NaN,ROUTINE,NaN,Magnesium,Chemistry,NAN,False,True
26,153,10000032,22595853.0,86271148,50970,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,3.6,3.600,...,2.700,4.500,NaN,ROUTINE,NaN,Phosphate,Chemistry,NAN,False,True
27,154,10000032,22595853.0,86271148,50971,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,4.5,4.500,...,3.300,5.100,NaN,ROUTINE,NaN,Potassium,Chemistry,NAN,False,True
28,156,10000032,22595853.0,86271148,51006,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,25,25.000,...,6.000,20.000,abnormal,ROUTINE,NaN,Urea Nitrogen,Chemistry,ABNORMAL,True,False
29,145,10000032,22595853.0,86271148,50878,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,98,98.000,...,0.000,40.000,abnormal,ROUTINE,NaN,Asparate Aminotransferase (AST),Chemistry,ABNORMAL,True,False
30,151,10000032,22595853.0,86271148,50931,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,___,99.000,...,70.000,100.000,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI...",Glucose,Chemistry,NAN,False,True
31,144,10000032,22595853.0,86271148,50868,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,9,9.000,...,8.000,20.000,NaN,ROUTINE,NaN,Anion Gap,Chemistry,NAN,False,True
32,139,10000032,22595853.0,61805039,51237,NaN,2180-05-07 05:05:00,2180-05-07 06:43:00,1.5,1.500,...,0.900,1.100,abnormal,ROUTINE,NaN,INR(PT),Hematology,ABNORMAL,True,False
33,142,10000032,22595853.0,86271148,50861,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,88,88.000,...,0.000,40.000,abnormal,ROUTINE,NaN,Alanine Aminotransferase (ALT),Chemistry,ABNORMAL,True,False
34,130,10000032,22595853.0,16204564,51221,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,37.6,37.600,...,36.000,48.000,NaN,ROUTINE,NaN,Hematocrit,Hematology,NAN,False,True
35,143,10000032,22595853.0,86271148,50863,NaN,2180-05-07 05:05:00,2180-05-07 07:03:00,103,103.000,...,35.000,105.000,NaN,ROUTINE,NaN,Alkaline Phosphatase,Chemistry,NAN,False,True
36,132,10000032,22595853.0,16204564,51248,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,33.4,33.400,...,27.000,32.000,abnormal,ROUTINE,NaN,MCH,Hematology,ABNORMAL,True,False
37,133,10000032,22595853.0,16204564,51249,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,33.8,33.800,...,31.000,35.000,NaN,ROUTINE,NaN,MCHC,Hematology,NAN,False,True
38,134,10000032,22595853.0,16204564,51250,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,99,99.000,...,82.000,98.000,abnormal,ROUTINE,NaN,MCV,Hematology,ABNORMAL,True,False
39,135,10000032,22595853.0,16204564,51265,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,71,71.000,...,150.000,440.000,abnormal,ROUTINE,NaN,Platelet Count,Hematology,ABNORMAL,True,False
40,131,10000032,22595853.0,16204564,51222,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,12.7,12.700,...,12.000,16.000,NaN,ROUTINE,NaN,Hemoglobin,Hematology,NAN,False,True
41,137,10000032,22595853.0,16204564,51279,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,3.80,3.800,...,4.200,5.400,abnormal,ROUTINE,NaN,Red Blood Cells,Hematology,ABNORMAL,True,False
42,138,10000032,22595853.0,16204564,51301,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,4.2,4.200,...,4.000,11.000,NaN,ROUTINE,NaN,White Blood Cells,Hematology,NAN,False,True
43,140,10000032,22595853.0,61805039,51274,NaN,2180-05-07 05:05:00,2180-05-07 06:43:00,16.6,16.600,...,9.400,12.500,abnormal,ROUTINE,NaN,PT,Hematology,ABNORMAL,True,False
44,141,10000032,22595853.0,61805039,51275,NaN,2180-05-07 05:05:00,2180-05-07 06:43:00,32.3,32.300,...,25.000,36.500,NaN,ROUTINE,NaN,PTT,Hematology,NAN,False,True
45,136,10000032,22595853.0,16204564,51277,NaN,2180-05-07 05:05:00,2180-05-07 06:22:00,15.3,15.300,...,10.500,15.500,NaN,ROUTINE,NaN,RDW,Hematology,NAN,False,True
46,166,10000032,22595853.0,80754202,50843,NaN,2180-05-07 10:11:00,2180-05-07 12:50:00,31,31.000,...,NaN,NaN,NaN,STAT,NaN,"Lactate Dehydrogenase, Ascites",Chemistry,NAN,False,True
47,157,10000032,22595853.0,53479500,51114,NaN,2180-05-07 10:11:00,2180-05-07 12:17:00,1,1.000,...,0.000,0.000,abnormal,STAT,NaN,Eosinophils,Hematology,ABNORMAL,True,False
48,158,10000032,22595853.0,53479500,51116,NaN,2180-05-07 10:11:00,2180-05-07 12:17:00,49,49.000,...,0.000,0.000,abnormal,STAT,NaN,Lymphocytes,Hematology,ABNORMAL,True,False
49,159,10000032,22595853.0,53479500,51117,NaN,2180-05-07 10:11:00,2180-05-07 12:17:00,35,35.000,...,0.000,0.000,abnormal,STAT,NaN,Macrophage,Hematology,ABNORMAL,True,False
50,160,10000032,22595853.0,53479500,51118,NaN,2180-05-07 10:11:00,2180-05-07 12:17:00,2,2.000,...,0.000,0.000,abnormal,STAT,NaN,Mesothelial Cell,Hematology,ABNORMAL,True,False
51,161,10000032,22595853.0,53479500,51120,NaN,2180-05-07 10:11:00,2180-05-07 12:17:00,0,0.000,...,0.000,0.000,NaN,STAT,NaN,Monocytes,Hematology,NAN,False,True
52,162,10000032,22595853.0,53479500,51125,NaN,2180-05-07 10:11:00,2180-05-07 12:17:00,13,13.000,...,0.000,0.000,abnormal,STAT,NaN,Polys,Hematology,ABNORMAL,True,False
53,163,10000032,22595853.0,53479500,51127,NaN,2180-05-07 10:11:00,2180-05-07 11:40:00,8800,8800.000,...,0.000,0.000,abnormal,STAT,NaN,"RBC, Ascites",Hematology,ABNORMAL,True,False
54,164,10000032,22595853.0,53479500,52065,NaN,2180-05-07 10:11:00,2180-05-07 11:40:00,300,300.000,...,0.000,0.000,abnormal,STAT,NaN,"Total Nucleated Cells, Ascites",Hematology,ABNORMAL,True,False
55,165,10000032,22595853.0,80754202,50835,NaN,2180-05-07 10:11:00,2180-05-07 12:50:00,NaN,NaN,...,NaN,NaN,NaN,STAT,LESS THAN 1.0.,"Albumin, Ascites",Chemistry,NAN,False,True
56,167,10000032,22595853.0,80754202,50849,NaN,2180-05-07 10:11:00,2180-05-07 12:50:00,0.5,0.500,...,NaN,NaN,NaN,STAT,NaN,"Total Protein, Ascites",Chemistry,NAN,False,True

In [9]:
discharge_meds = dataset.get_discharge_medications(hadm_id)
discharge_meds.head()

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,48214508,10000032-39,39.0,P23SJA,2180-05-07 01:00:00,2180-05-07 22:00:00,MAIN,Acetaminophen,...,004490,9.041989e+08,500mg Tablet,NaN,500,mg,1,TAB,NaN,PO/NG
1,10000032,22595853,73243129,10000032-33,33.0,P23SJA,2180-05-07 01:00:00,2180-05-07 22:00:00,MAIN,Albuterol Inhaler,...,028090,1.730682e+08,8 g Inhaler,NaN,2,PUFF,0.02,INH,NaN,IH
2,10000032,22595853,85199369,10000032-34,34.0,P23SJA,2180-05-07 01:00:00,2180-05-07 22:00:00,MAIN,Emtricitabine-Tenofovir (Truvada),...,057883,6.195807e+10,200-300mg Tablet,NaN,1,TAB,1,TAB,1.0,PO
3,10000032,22595853,12775705,10000032-55,55.0,P85UQ1,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
4,10000032,22595853,86768272,10000032-32,32.0,P23SJA,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Heparin,...,006549,6.332303e+10,5000 Units / mL- 1mL Vial,NaN,5000,UNIT,1,mL,3.0,SC